<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Police Station Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename = 'load.js') }}" charset="utf-8"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'load.css') }}">
</head>
<header>

</header>
<body>
  <div class="se-pre-con"></div>
  <div class="container-fluid" style="margin:auto auto;">
  {% from "_formhelpers.html" import render_field %}
  <form method=post action="/admin/">
    <dl>
      {{render_field(form.st_id)}}
      {{render_field(form.st_loc)}}
      {{render_field(form.st_iname)}}
      {{render_field(form.password)}}
      {{render_field(form.confirm)}}
    </dl>
    <p><input type=submit value=Login></p>
  </form>
  <h5>To Register click <a href="/register/">here</a></h5>
  {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
  {% endif %}</div>
</body>
</html>
