{% extends "mheader.html" %}
{% block body %}
<div class="se-pre-con"></div>
<br>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Track Fugitives</div>
      <div class="panel-body">Get Live location of the registed fugitives on payroll with anklets</div>
      <a href="/trackall/" type="button" class="btn btn-primary btn-block">Track</a>
      <br>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Associate a band with A Fugitive</div>
      <div class="panel-body">Register a new Band with a new criminal</div>
      <a href="/assign/" type="button" class="btn btn-primary btn-block">Assign Device!</a>
    </div>


{% endblock %}
